*{
	margin: 0px;
	padding: 0px;
}
.project{

	background-color: #ebe2e2;
	border: 1px solid black;
	width: 1320px;
	height: 370px;
}
.header{

	background-color: #ebe2e2;
	height: 30px;
}
.header ul{

	list-style: none;
}
.header ul li{
	float:left;
	margin: 8px;

}
.main{

	width: 1318px;
	height: 320px;
	
}
.first{

	background-color: white;
	width: 310px;
	height: 300px;
	float: left;
	margin: 6px;

}
.content{

	text-align: left;
	padding: 10px;
	padding-bottom: 1px;
}
.second{

	background-color: white;
	width: 320px;
	height: 300px;
	float: left;
	margin:6px;
}
.content1{

	
	padding: 5px;
	margin: 5px;
}
.third{

	background-color: white;
	width: 320px;
	height: 300px;
	margin: 6px;
	float: left;
}
.fourth{

	background-color: white;
	width: 310px;
	height: 300px;
	margin: 6px;
	float: left;

}

.smalllogo{
 width:18px;
 height:18px;
 float:left;
 margin:3px;

}